@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    body {
        @apply bg-black-400;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }
}

@layer utilities {
    .inset-center {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .movie-information-tag {
        @apply bg-black-300 text-black-100 px-2 py-0.5 rounded-md mr-2;
    }
}
