@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    body {
        @apply bg-black-400;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #121212;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background: #535353;
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #535353;
    }
}

@layer utilities {
    .inset-center {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .movie-information-tag {
        @apply bg-black-300 text-black-100 px-2 py-0.5 rounded-md mr-2;
    }

    @variants responsive {
        .movies-grid {
            grid-template-columns: repeat(auto-fill, minmax(129px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(95px, 1fr));
        }

        .movies-grid-small {
            grid-template-columns: repeat(auto-fill, minmax(167px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(95px, 1fr));
        }

        .cast-grid {
            grid-template-columns: repeat(auto-fill, minmax(129px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(95px, 1fr));
        }

        .cast-grid-small {
            grid-template-columns: repeat(auto-fill, minmax(167px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(95px, 1fr));
        }
    }
}
